[Unit]
Description=Borg Backup

[Service]
Type=oneshot

# Парольная фраза
Environment=BORG_PASSPHRASE={{borg_repo_passthrase}}

# Репозиторий
Environment=REPO={{borg_repo}}{{ansible_hostname}}

# Создание бэкапа
ExecStart=/bin/borg create --stats ${REPO}::bak-{now:%%Y-%%m-%%d_%%H:%%M:%%S} {{bak_dir}}

# Проверка бэкапа
ExecStart=/bin/borg check ${REPO}

# Очистка старых бэкапов
ExecStart=/bin/borg prune --keep-daily {{daily}} --keep-monthly {{monthly}} --keep-yearly {{yearly}} ${REPO}

